.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-family: $flexaFont;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
    box-shadow: 0px 4px 4px 0px #00000021;
    background-color: $primary;
  }
  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        background-color: $gray;
        border-radius: 50%;
        overflow: hidden;
        img {
          @include fullImage;
        }
      }
      b {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $main;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    background-color: $primary;
    &__inner {
      padding: 20px 0;
    }
  }
}
// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      padding: 16px 0;
      &-logo {
        span {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
